@-moz-viewport { width: device-with; scale: 1; }
@-ms-viewport { width: device-with; scale: 1; }
@-o-viewport { width: device-with; scale: 1; }
@-webkit-viewport { width: device-with; scale: 1; }
@viewport { width: device-with; scale: 1; }

html {
  font: normal 100%/1.3 Georgia, serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

figure {
  margin: 0;
}

.img-flex {
  text-align: center;
  display: block;
  width: 100%;
}

.card-body {
  background-color: #e2e2e2;
  padding: .2rem 1rem;
}

h2 {
  font-family: "Denk One", sans-serif;
  font-size: 1.5rem;
}

@media only screen and (min-width: 38em) {

  figure {
    margin: 0;
    width: 100%;
    display: block;
    position: relative;
  }

}

@media only screen and (min-width: 60em) {

  figure {
    margin: 0;
    width: 100%;
    display: block;
    position: relative;
  }

  .card-body {
    color: white;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 15rem;
    right: 2rem;
    margin-left: 28rem;
    border-radius: 0 6px 6px;
  }

  html {
    line-height: 1.5;
    font-family: Georgia;
    font-size: 120%;
  }

}

@media only screen and (min-width: 90em) {

  figure {
    margin: 0;
    width: 100%;
    display: block;
    position: relative;
  }

  .card-body {
    color: white;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    padding: 2rem 1rem;
    top: 21rem;
    right: 2rem;
    margin-left: 40rem;
  }

  html {
    font-family: Georgia;
    font-size: 130%;
  }

}
